*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-light: #f3f2ef;
  --secondary-light: #ffffff;
  --accent-light: #0a66c2;
  --font-light: rgba(0, 0, 0, 0.9);
  --error-light: #ac3737;
  --overlay-light: rgba(243, 242, 239, 0.5);

  --primary-dark: #000000;
  --secondary-dark: #1d2226;
  --accent-dark: #d0e8ff;
  --font-dark: rgba(255, 255, 255, 0.9);
  --error-dark: #be5858;
  --overlay-dark: rgb(0, 0, 0, 0.5);

  --layout-none-max-width: 576px;
  --layout-md-max-width: 720px;
  --layout-lg-max-width: 960px;
  --layout-xl-max-width: 1128px;

  --header-height: 3.2rem;
  --footer-height: 2rem;

  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--font-light);
  background-color: var(--primary-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: inherit;
  color: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

input, button, select {
  font: inherit;
  color: inherit;
  background-color: inherit;
  border: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: var(--font-dark);
    background-color: var(--primary-dark);
  }
} */
